- name: Nginx
  hosts: web
  become: yes
  tasks: 
  - name: Install Nginx
    ansible.builtin.yum:
      name: nginx
      state: installed
  - name: Install Nginx
    ansible.builtin.service:
      name: nginx
      state: started


